* {
    margin:0;
}

#root {
    min-height: 100vh;
    padding:50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    background-image: url('https://images.hdqwalls.com/download/light-tile-l8-1336x768.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

li {
    list-style-type: none;
}

.card{
    width:500px;
    padding:30px;
    margin:20px;
    border-radius: 10px;
    background-color: lightcoral;
    border:4px;
    border-color:black;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:40px
}

.mini-card{
    width:350px;
    padding:30px;
    margin:20px;
    border-radius: 10px;
    background-color: lightcoral;
    border:4px;
    border-color:black;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:40px
}

.temp {
    padding:18px;
    text-align: center;
    display: flex;
    width:80%;
    background-color: white;
    border-radius: 20px;
    align-items: center;
}

#date-time {
    text-align: center;
    display: flex;
    width:80%;
    background-color: white;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

main  {
    width:90%;
    display:flex;
}

.left-panel {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:20px;
    width:100%;
}

.right-panel {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:20px;
    width:100%;
}

#temp-icon {
    border-radius: 15px;
}

#temp-icon {
    height:45px;
}